@model s00117372CA1.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<fieldset>
    <legend>Order</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderId)
    </div>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.AlbumId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Album.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Album.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Album.Artist.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Album.Artist.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
