
@model IEnumerable<s00117372CA1.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Order List</h2>

@*<form>
    <input type="text" name="searchTerm"/>
    <input type="submit" value="Search by Name"/>
</form>
*@
<form method="GET">
    <div class="row" role="form">
        <div class="form-group col-md-2">
            <label for="searchTerm">Search For</label>
            <input type="text" name="searchTerm" class="form-control"/>
        </div>
        <div class="form-group col-md-2">
            <label>&nbsp;</label>
            <input type="submit" value="Search by Name" 
                   class="btn btn-primary form-control"/>
        </div>
    </div>
</form>



<table>
    <tr>
        <th>
            @Html.ActionLink("Order Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            @*@Html.DisplayNameFor(model => model.OrderDate)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.ActionLink("Total", "Index", new { sortOrder = ViewBag.TotalSortParm })
            @*@Html.DisplayNameFor(model => model.Total)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) |
        </td>
    </tr>
}

</table>
