@model S00117372CA3.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Product</legend>

    <table>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.ProductName)
            </td>
            <td>
        @Html.DisplayFor(model => model.ProductName)
            </td>
       </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.Supplier.CompanyName)
            </td>
            <td>
        @Html.DisplayFor(model => model.Supplier.CompanyName)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.Category.CategoryName)
            </td>
            <td>
        @Html.DisplayFor(model => model.Category.CategoryName)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </td>
            <td>
        @Html.DisplayFor(model => model.QuantityPerUnit)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.UnitPrice)
            </td>
            <td>
        @Html.DisplayFor(model => model.UnitPrice)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.UnitsInStock)
            </td>
            <td>
        @Html.DisplayFor(model => model.UnitsInStock)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </td>
            <td>
        @Html.DisplayFor(model => model.UnitsOnOrder)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.ReorderLevel)
            </td>
            <td>
        @Html.DisplayFor(model => model.ReorderLevel)
            </td>
        </tr>
        <tr>
            <td style="padding-right:15px; font-weight: bold;">
         @Html.DisplayNameFor(model => model.Discontinued)
            </td>
            <td>
        @Html.DisplayFor(model => model.Discontinued)
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
